<div class="action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<mat-accordion class="align-accordion-headers" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vitamins
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Minerals
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
