@import '../../../../../../styles/colors';

.mat-table {
  border-radius: 15px;
  margin-top: 30px;
  overflow: hidden !important;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.mat-header-cell:not(:first-child), td.mat-footer-cell:not(:first-child), .mat-cell:not(:first-child) {
  text-align: center;
}

.mat-header-cell:last-child, td.mat-footer-cell:last-child, .mat-cell:last-child {
  text-align: right;
}

.header-cell-content span, small {
  font-size: 14px;
  font-weight: normal;
  display: block;
}

.first-header-description {
  font-weight: normal;

  mat-icon {
    padding-left: 4px;
    padding-right: 4px;
  }

  .description-title {
    font-size: 21px;
  }

  .description-subtitle {
    font-size: 15px;
    margin-left: 11px;
    color: #ececec;
  }
}

.mat-header-row {
  background-color: $primary-color;
}

td .mat-icon-button.icon-overlay {
  margin-right: 15px;
}

.mat-header-row th {
  color: white;
}

.mat-footer-row {
  font-size: 17px;
  background-color: $primary-color-light;

  .mat-footer-cell {
    color: white;
  }
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

