/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

@import './styles/main.scss';

// Define a light theme
$light-primary: mat.define-palette($primary, $primary-default-key, $primary-light-key, $primary-dark-key);
$light-accent: mat.define-palette($secondary, $secondary-default-key, $secondary-light-key, $secondary-dark-key);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.table-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.divider-theme($light-theme);
@include mat.expansion-theme($light-theme);

.dark-theme {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
}

html, body { height: 100%; }
body { margin: 15px 25px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; }
